<GridLayout rows="auto,*,auto" columns="" class="pagelightbg">

  <Image row="0" (tap)="newannounce()" class="p-b-5" verticalAlignment="bottom" horizontalAlignment="right"
    src="~/assets/images/composer.png" [height]="iconSize" [width]="iconSize"></Image>
  <RadListView row="1" [items]="announcement">
    <ng-template tkListItemTemplate let-item="item">
      <GridLayout rows="auto,auto,auto" backgroundColor="white" [padding]="pageSide/2" [margin]="pageSide/4">

        <StackLayout>
          <Label [text]="item.title" class="text-left p-b-2 f-w-600 mutedColor font16  Roboto"></Label>
          <Label [text]="item.deadline" class="font13 font-w-700 Roboto mutedDark"></Label>
          <Label [text]="item.type" textWrap="true"></Label>
          <Label text="Details" textWrap="true"></Label>
          <Label [text]="item.description" textWrap="true"></Label>
          <GridLayout columns="*,auto" orientation="horizontal">
            <TextField col="0" row="4" text="Ask Anything"></TextField>
            <Image row="0" (tap)="QnAs()" col="1" class="p-b-5" verticalAlignment="bottom" horizontalAlignment="right"
              src="~/assets/images/folder.png" [height]="iconSize/2" [width]="iconSize/2"></Image>

          </GridLayout>
        </StackLayout>
      </GridLayout>
    </ng-template>
    <ng-template tkListViewFooter>
      <GridLayout class="p-b-150"></GridLayout>
    </ng-template>
  </RadListView>
  <GridLayout row="2" columns="*,*">
    <StackLayout col="0" class="pagelightbg">
      <Image row="0" class="p-r-20" src="~/assets/images/group.png" [height]="iconSize/2" [width]="iconSize/2"></Image>

      <Label col="0" text="Stream" style="text-align: center;" textWrap="true"></Label>
    </StackLayout>
    <StackLayout col="1" (tap)="people()" class="pagelightbg">
      <Image row="0" src="~/assets/images/group.png" [height]="iconSize/2" [width]="iconSize/2"></Image>
      <Label col="2" text="People" style="text-align: center;" textWrap="true"></Label>

    </StackLayout>


  </GridLayout>

</GridLayout>