<GridLayout rows="*,auto" columns="">


    <GridLayout row="1" columns="*,*,*,*" class="p-l-5 p-r-5 pagelightbg">
        <StackLayout col="0">
            <Label text="Folders" nsRouterLink="['folders']" textWrap="true"></Label>

        </StackLayout>
        <StackLayout col="1">
            <Label text="Announcements" nsRouterLink="['announcements']" textWrap="true"></Label>

        </StackLayout>
        <StackLayout col="2">
            <Label text="Notifications" nsRouterLink="['notifications']" textWrap="true"></Label>

        </StackLayout>
        <StackLayout col="3">
            <Label text="Discussion" nsRouterLink="['discussion']" textWrap="true"></Label>

        </StackLayout>
    </GridLayout>
</GridLayout>