
.textFieldStling {
    border-width: 1dp;
    border-color:#31b4ef ;
}

.errorBorder{
    border-width: 1dp;  
    border-color: red ;
    border: 5%;
    /* margin: 2%;   */
}
.errorlbl{
    color: red;
    font-family: 'Roboto';
}