<ScrollView class="pagelightbg">
  <GridLayout>
    <GridLayout rows="auto,auto,auto,auto,auto,auto,auto" height="100%">

      <Label text="Choose Account Type " [marginTop]="pageSide" class=" text-center fontoswald mutedDark font-w-900"></Label>

      <ns-userTypeBox row="1" (onSelectUserType)="onAccountSelection($event)"></ns-userTypeBox>

      <Label row="2" [text]="(showType === 'student') ? 'Lets Learn!': 'Lets Teach!'" style="font-size: 20%"
        class="Oswaldbig text-center mutedDark font-w-700" [marginTop]="pageSide" [marginBottom]="pageSide"></Label>
      <Label row="3" text="Please fill  out the form below to get started"
        class="primaryColor text-center Roboto"></Label>
      <StackLayout row="4" [marginRight]="pageSide" [marginLeft]="pageSide" rows="auto,auto,auto"
        [paddingTop]="pageSide">
       <Label text="Email" class="mutedDark font-w-500" textWrap="true"></Label>
       
        <ns-textField rtext="Email" row="0" col="0" [rformgroup]="rform" rcontrolname="email">
        </ns-textField>
        <Label text="Password" class="mutedDark font-w-500" textWrap="true"></Label>
        
        <ns-textField rtext="Password" row="1" col="1" [rformgroup]="rform" rcontrolname="password">
        </ns-textField>

      </StackLayout>


      <StackLayout row="5" class="primarybg borderradius" [marginRight]="pageSide" [marginLeft]="pageSide"
        [marginTop]="pageSide" >
        <ns-button (onTap)="login()" text="Login"></ns-button>
      </StackLayout>

      <Label row="6" verticalAlignment='center'  (tap)="signup()" [marginBottom]="pageSide " [marginTop]="pageSide"
        [marginLeft]="pageSide/2" class="text-center mutedDark">
        <FormattedString>
          <Span text="No account? Signup" class='mutedDark fontoswald font-w-700'></Span>
        </FormattedString>
      </Label>

    </GridLayout>
    <ActivityIndicator rowSpan="4" verticalAlignment="middle" horizontalAlignment="center" width="100" height="100"
      [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
  </GridLayout>
</ScrollView>