
<GridLayout rows="auto,auto,*" columns="" class="pagelightbg">
   <SearchBar  row="0" hint="Search for queries" [margin]="pageSide/4" ></SearchBar> 
       
    <RadListView row="1" [items]="queries">
      <ng-template tkListItemTemplate let-item="item">
        <GridLayout [margin]="pageSide/4" (tap)="Request(item)"  rows="auto,auto,auto,auto" class="mutedBg"
          [paddingLeft]="pageSide/ 2"   [paddingRight]="pageSide/2"
          columns="*,*,*">
          <Label col="0" text="2 min ago" class="text-left p-b-2   f-w-600 mutedColor font13  Roboto"></Label>
          <Label col="0" row="1" colSpan="3" [text]="item.title" class="font16 font-w-700 Roboto mutedDark"></Label>
                
          <GridLayout rows="auto,auto,auto" col="0" row="2">
            <Image src="~/assets/images/deadline.png" class="b-r-100" stretch="aspectFit" [marginTop]="iconSize/8"
              [marginBottom]="iconSize/8" [width]="iconSize" [height]="iconSize"></Image>
            <Label row="1" class="text-center font13 sec-color Roboto font-w-700 " text="Due Date"></Label>
            <Label row="2" class="text-center mutedColor Roboto font12" text="Due Dec 23, 2015"></Label>
          </GridLayout>
          <GridLayout rows="auto,auto,auto" col="1" row="2">
            <Image src="~/assets/images/notebook.png" stretch="aspectFit" [marginTop]="iconSize/8"
              [marginBottom]="iconSize/8" [width]="iconSize" [height]="iconSize"></Image>
            <Label row="1" class="text-center sec-color font13 Roboto font-w-700 " text="Type"></Label>
            <Label row="2" class="text-center mutedColor Roboto font12" text="Assingment"></Label>
          </GridLayout>
  
          <GridLayout rows="auto,auto,auto" col="2" row="2">
            <Image src="~/assets/images/dollar.png" class="b-r-100" stretch="aspectFit" [marginTop]="iconSize/8"
              [marginBottom]="iconSize/8" [width]="iconSize" [height]="iconSize"></Image>
            <Label row="1" [text]="item.estimateAmount" class="text-center sec-color font13 Roboto font-w-700 ">
            </Label>
            <Label row="2" class="text-center mutedColor Roboto font12" text="/month"></Label>
          </GridLayout>
          <Label col="0" row="3" colSpan="3" [text]="item.adress" [paddingTop]="pageSide/ 4"
            class="text-center f-w-900 mutedColor font13 capitalize Roboto"></Label>
          
          </GridLayout>
       </ng-template>  
  
      <ng-template tkListViewFooter>
        <GridLayout class="p-b-150"></GridLayout>
      </ng-template>
    </RadListView>
    <ActivityIndicator row="2" Top="400" rowSpan="2" width="100" height="100" [busy]="loader" class="activity-indicator"></ActivityIndicator>
   
</GridLayout>
     