<GridLayout  >
  <GridLayout *ngIf="userType === 'student'"  >

    </GridLayout>
  <GridLayout rows="auto,*" *ngIf="userType === 'teacher'"  >
    <Label  row="0" text="Registered Courses" horizontalAlignment="center" class="font20 mutedDark"
    textWrap="true"></Label>
    
    <RadListView row="1" [items]="course">
          <ng-template tkListItemTemplate let-item="item">
              <StackLayout [margin]="pageSide/4">
                  <StackLayout orientation="horizontal">
                      <Label text="Course Name:" class="mutedDark font16" textWrap="true"></Label>
                      <Label [text]="item.name" [marginLeft]="pageSide"></Label>
                  </StackLayout>
                  <Label [text]="item.duration"></Label>
            <Label text="Details:" class="mutedDark font16" textWrap="true"></Label>
                  <Label [text]="item.details" textWrap="true"></Label>
              </StackLayout>
          </ng-template>
          <ng-template tkListViewFooter>
              <GridLayout class="p-b-150"></GridLayout>
          </ng-template>    
      </RadListView>

  </GridLayout>
</GridLayout>