<ScrollView>

  <GridLayout rows="auto,*,auto" style="background-color: #1d4354">
      <Label row="0" text="Register Here" class="text-center Oswald  m-t-15 m-b-15" style="color: rgb(138, 223, 102) "></Label>
    
    <Pager row="1" (selectedIndexChange)="onIndexChanged($event)" [items]="onBoarding" #pager
      [itemTemplateSelector]="templateSelector" class="pager">
      <ng-template pagerTemplateKey="personalInfo" let-i="index" let-item="item">
        <GridLayout class="pager-item" rows="auto,auto" columns="*">
      
          <StackLayout class=" bgWhite" style="padding: 5%" [marginRight]="pageSide" [marginLeft]="pageSide"  >
          <ns-userTypeBox  (onSelectUserType)="onAccountSelection($event)"></ns-userTypeBox>
          <Label text="Personal info" class="mutedDark primaryColor" textWrap="true"></Label>
         <GridLayout columns="*,*">
          <ns-textField rtext="Firstname" col="0" class="textfieldBorderColor m-b-2 m-l-10 m-r-10 font13 " [rformgroup]="onBoardingForm" rcontrolname="first_name">
          </ns-textField>
         
          <ns-textField rtext="Lastname" col="1"  [rformgroup]="onBoardingForm" class="textfieldBorderColor m-b-2 m-l-10 m-r-10 font13"  rcontrolname="last_name">
          </ns-textField>    
         </GridLayout>
        
         <ns-textField rtext="Username" [rformgroup]="onBoardingForm" class="textfieldBorderColor m-b-2 m-l-10 m-r-10 font13" rcontrolname="user_name">
          </ns-textField>
          <ns-textField rtext="Contact" [rformgroup]="onBoardingForm" class="textfieldBorderColor m-b-2 m-l-10 m-r-10 font13"  rcontrolname="contact">
          </ns-textField>
          <Label text="Account info" class="mutedDark primaryColor" textWrap="true"></Label>
          <ns-textField rtext="email" [rformgroup]="onBoardingForm" class="textfieldBorderColor m-b-2 m-l-10 m-r-10 font13"  rcontrolname="email">
          </ns-textField>
          <ns-textField rtext="password" [rformgroup]="onBoardingForm" class="textfieldBorderColor m-b-2 m-l-10 m-r-10 font13"  rcontrolname="password">
          </ns-textField>
          <ns-textField rtext="confirmPassword" [rformgroup]="onBoardingForm" class="textfieldBorderColor m-b-2 m-l-10 m-r-10 font13"  rcontrolname="confirmPassword">
          </ns-textField>
          <Label text="Acadmic info" class="mutedDark primaryColor" textWrap="true"></Label>
          <ns-textField rtext="Institute" [rformgroup]="onBoardingForm" class="textfieldBorderColor m-b-2 m-l-10 m-r-10 font13"  rcontrolname="university">
          </ns-textField>
          <ns-textField rtext="city" [rformgroup]="onBoardingForm" class="textfieldBorderColor m-b-2 m-l-10 m-r-10 font13"  rcontrolname="university">
          </ns-textField>
        </StackLayout>
      
        </GridLayout>
      </ng-template>
      <ng-template pagerTemplateKey="professionalInfo" let-i="index" let-item="item">
        <GridLayout class="pager-item" columns="*">
          <!-- <GridLayout    [marginRight]="pageSide" [marginLeft]="pageSide">
              <ns-image-upload></ns-image-upload>
            </GridLayout>
           -->
    
          <StackLayout row="1" class="bgWhite" [marginTop]="pageSide/2" [marginRight]="pageSide"
          [marginLeft]="pageSide">
          <ns-userTypeBox (onSelectUserType)="onAccountSelection($event)"></ns-userTypeBox>
        </StackLayout>
    
          </GridLayout>
      </ng-template>
     
      <ng-template pagerTemplateKey="contactInfo" let-i="index" let-item="item">
        <GridLayout class="pager-item" columns="*">

          <StackLayout row="0" class=" bgWhite" style="padding: 5%" [marginRight]="pageSide" [marginLeft]="pageSide"
            [marginTop]="boxSize">
       
          </StackLayout>
        </GridLayout>
      </ng-template>

    </Pager>

    <GridLayout row="2" [marginBottom]="pageSide" class=" mutedDark primaryColor primarybg " [marginLeft]="pageSide"
      [marginRight]="pageSide">
      <ns-button (onTap)="onSubmit()" row="1" col="1" text="Next"></ns-button>
    </GridLayout>
  </GridLayout>
</ScrollView>