<ScrollView>

  <GridLayout rows="auto,*,auto" class="pagelightbg">
    <GridLayout row="0">
      <Label text="formtitle" class="text-center Oswald  m-t-15 m-b-15 primaryColor"></Label>
    </GridLayout>
  
    <Pager row="1" (selectedIndexChange)="onIndexChanged($event)" [items]="onBoarding" #pager
      [itemTemplateSelector]="templateSelector" class="pager">
      <ng-template pagerTemplateKey="personalInfo" let-i="index" let-item="item">
        <GridLayout class="pager-item" rows="auto,auto" columns="*">
          <StackLayout row="1" class="bgWhite" [marginTop]="pageSide/2" [marginRight]="pageSide"
            [marginLeft]="pageSide">
            <ns-userTypeBox (onSelectUserType)="onAccountSelection($event)"></ns-userTypeBox>
            <ns-textField rtext="Firstname" [rformgroup]="onBoardingForm" rcontrolname="first_name">
            </ns-textField>
            <ns-textField rtext="Lastname" [rformgroup]="onBoardingForm" rcontrolname="last_name">
            </ns-textField>
            <ns-textField rtext="Username" [rformgroup]="onBoardingForm" rcontrolname="user_name">
            </ns-textField>
            <ns-textField rtext="Contact" [rformgroup]="onBoardingForm" rcontrolname="contact">
            </ns-textField>
          </StackLayout>
        </GridLayout>
      </ng-template>
      <ng-template pagerTemplateKey="professionalInfo" let-i="index" let-item="item">
        <GridLayout class="pager-item" columns="*">
          <!-- <GridLayout    [marginRight]="pageSide" [marginLeft]="pageSide">
              <ns-image-upload></ns-image-upload>
            </GridLayout>
           -->
          <StackLayout class=" bgWhite" style="padding: 5%" [marginRight]="pageSide" [marginLeft]="pageSide"
            [marginTop]="boxSize">
            <ns-textField rtext="email" [rformgroup]="onBoardingForm" rcontrolname="email">
            </ns-textField>
            <ns-textField rtext="password" [rformgroup]="onBoardingForm" rcontrolname="password">
            </ns-textField>
            <ns-textField rtext="confirmPassword" [rformgroup]="onBoardingForm" rcontrolname="confirmPassword">
            </ns-textField>
          </StackLayout>
        </GridLayout>
      </ng-template>
     
      <ng-template pagerTemplateKey="contactInfo" let-i="index" let-item="item">
        <GridLayout class="pager-item" columns="*">

          <StackLayout row="0" class=" bgWhite" style="padding: 5%" [marginRight]="pageSide" [marginLeft]="pageSide"
            [marginTop]="boxSize">
            <ns-textField rtext="university" [rformgroup]="onBoardingForm" rcontrolname="university">
            </ns-textField>
            <ns-textField rtext="semester" [rformgroup]="onBoardingForm" rcontrolname="semester">
            </ns-textField>
            <ns-textField rtext="department" [rformgroup]="onBoardingForm" rcontrolname="department">
            </ns-textField>
            <ns-textField rtext="Adress" [rformgroup]="onBoardingForm" rcontrolname="adress">
            </ns-textField>

          </StackLayout>
        </GridLayout>
      </ng-template>

    </Pager>

    <GridLayout row="2" [marginBottom]="pageSide" class=" mutedDark primaryColor primarybg " [marginLeft]="pageSide"
      [marginRight]="pageSide">
      <ns-button (onTap)="onSubmit()" row="1" col="1" text="Next"></ns-button>
    </GridLayout>
  </GridLayout>
</ScrollView>