<ScrollView> 
  <GridLayout rows="*,auto" [marginTop]="pageSide" [marginRight]="pageSide/2" [marginLeft]="pageSide/2">
    <StackLayout row="0" >
        <ns-userTypeBox  (onSelectUserType)="onAccountSelection($event)"></ns-userTypeBox>
      <ns-inputControlSelector [rformGroup]="onBoardingForm" [generateForm]="formData"></ns-inputControlSelector>
    </StackLayout>
      
    <GridLayout row="1" rows=""  columns="" [marginLeft]="pageSide*7" [marginBottom]="pageSide" [marginRight]="pageSide/2" class="radius  primaryBg ">
      <ns-button (onTap)="onSubmit()"  text="Create"></ns-button>
    </GridLayout>
       
  </GridLayout>             
       
</ScrollView>
