<ActionBar style="background-color: #1d4354;;" icon="" class="action-bar">
  <Label text="Bid on Queries" class="primaryColor" textWrap="true"></Label>

</ActionBar>
<GridLayout class="pagelightbg" rows="auto,auto">
  <StackLayout row="0" [margin]="pageSide" class="bgWhite" [marginTop]="pageSide*3">
    <Label text="Title" class="font16 font-w-600 Roboto mutedDark" textWrap="true"></Label>
    <Label [text]="requestData?.title" class="text-center sec-color font13 Roboto font-w-700 "></Label>

    <Label text="Query Type" class="font16 font-w-600 Roboto mutedDark" textWrap="true"></Label>
    <Label [text]="requestData?.type" class="text-center sec-color font13 Roboto font-w-700 "></Label>

    <Label text="Time Due" class="font16 font-w-600 Roboto mutedDark" textWrap="true"></Label>
    <Label class="text-center sec-color font13 Roboto font-w-700 "></Label>

    <Label text="Estimate Amount:" class="font16 font-w-600 Roboto mutedDark" textWrap="true"></Label>
    <Label [text]="requestData?.estimateAmount" class="text-center sec-color font13 Roboto font-w-700 "></Label>

    <Label text="Description:" class="font16 font-w-600 Roboto mutedDark" textWrap="true"></Label>


    <Label [text]="requestData?.description" class="text-center sec-color font13 Roboto font-w-700 "
      textWrap="true"></Label>
  </StackLayout>
  <GridLayout rows="auto,auto,auto" row="1" class="bgWhite" [marginTop]="pageSide*2" [margin]="pageSide">
    <Label text="Responce:" textWrap="true"></Label>
    <ns-textField row="1" class="textfieldBorderColor font13" [marginBottom]="pageSide/2" [rformgroup]="rform"
      rcontrolname="responce" [rformgroup]="rform"></ns-textField>

    <Label row="2" text="Send Request" (tap)="sendRequest()" class="primaryBg text-center font20"></Label>
  </GridLayout>
</GridLayout>      