 <ScrollView>
  <GridLayout rows="auto,*,auto" column="*" class="pagelightbg">
    
    <Label text="New Query Form" horizontalAlignment="center" [marginTop]="pageSide/4" class="Oswald mutedDark"
      textWrap="true"></Label>
    <GridLayout row="1" class="bgWhite" [marginTop]="pageSide/2"  [marginRight]="pageSide/2"
      [marginLeft]="pageSide/2">
      <StackLayout [margin]="pageSide/2">
        <Label text="Title" class="Roboto mutedDark"></Label>
        <ns-textField class="textfieldBorderColor font13" [marginBottom]="pageSide/2" [rformgroup]="rform" rcontrolname="title"
          [rformgroup]="rform">
        </ns-textField>
          <DropDown  #dd 
                class="mutedDark"  
                [items]="items"
                [(ngModel)]="selectedIndex"
                hint="select your course"
                (selectedIndexChanged)="onchange($event)"
                row="0"
                colSpan="2"></DropDown>
        <ns-textField class="textfieldBorderColor font13" [rformgroup]="rform" rcontrolname="type"></ns-textField>
        <GridLayout row="1" rows="auto,auto" columns="*,*">
          <TextField row="0" col="0" hint="From" [(ngModel)]="fromDate" (tap)="pickDatefrom()" editable="false"
            class="Roboto mutedDark font13" [rformgroup]="rform" rcontrolname="fromDate">
          </TextField>
          <Label row="0" col="1" [text]="fromdate" [marginLeft]="pageSide/2" [marginRight]="pageSide/2"
            class="textfieldBorderColor" [marginTop]="pageSide/2"></Label>
          <TextField row="1" col="0" hint="To" [(ngModel)]="toDate" (tap)="pickDateto()" editable="false"
            class="Roboto mutedDark font13" [rformgroup]="rform" rcontrolname="todate">
          </TextField>
          <Label row="1" col="1" [text]="todate" [marginLeft]="pageSide/2" [marginRight]="pageSide/2"
            class="textfieldBorderColor mutedDark" textWrap="true" [marginTop]="pageSide/2"></Label>
        </GridLayout>
        <Label text="Amount" class="Roboto mutedDark "></Label>
        <ns-textField class="textfieldBorderColor mutedDark font13" [rformgroup]="rform" rcontrolname="estimateAmount">
        </ns-textField>
        <Label text="Select no of Students" class="Roboto mutedDark "></Label> 
         <ns-textField class="textfieldBorderColor mutedDark font13" [rformgroup]="rform" rcontrolname="people">
        </ns-textField>  
        <ns-textview  ></ns-textview>        
      </StackLayout >
    </GridLayout>     
    <StackLayout (tap)="storedata()" row="2" class="primarybg" [marginLeft]="pageSide/2" [marginRight]="pageSide/2" >
      <ns-button text="Submit" color="white"></ns-button>
    </StackLayout>
  </GridLayout>
</ScrollView> 

    