<GridLayout rows="" columns="">
    
</GridLayout>   

 <ScrollView class="pagelightbg ">
    <GridLayout rows="auto,auto,auto,auto" class="p-b-100" columns="*">
        <Image [height]="previewSize" style="  border-radius: 40%" [marginTop]="pageSide/2" [width]="previewSize"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqkTkxvlVSXCW0Avw0qipbUSd7CFnjPZ_PdEson-QeJk1WSbv8rg"
            class="thumb img-circle"></Image>

        <Label [text]="profile?.username" row="1"
            class="f-22 text-center capitalize  mutedDark f-bold m-l-30 m-t-5 m-r-30 Roboto" textWrap="true"></Label>
        <GridLayout rows="auto,auto,auto,auto" row="2" [marginTop]="previewSize/4" [marginLeft]="pageSide"
            [marginRight]="pageSide">
            <Label text="PERSONAL" horizontalAlignment="center" class="font20 mutedDark" textWrap="true"></Label>
            <StackLayout row="1" class="bgWhite boxBorder">
                <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
                    class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
                    [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
                    <Image col="0" src="~/assets/images/mail.png" stretch="aspectFit" [marginTop]="iconSize/8"
                        [marginBottom]="iconSize/8" [width]="iconSize" [height]="iconSize"></Image>
                    <Label col="1" [marginLeft]="pageSide" text="Email" style="padding-top: 10%"
                        class="mutedDark "></Label>
                    <Label col="0" colSpan="2" row="1" [text]="profile?.email" class="mutedDark Roboto"></Label>
                </GridLayout>
                <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
                    class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
                    [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
                    <Image col="0" src="~/assets/images/phone.png" stretch="aspectFit" [marginTop]="iconSize/8"
                        [marginBottom]="iconSize/8" [width]="iconSize" [height]="iconSize"></Image>
                    <Label col="1" [marginLeft]="pageSide" text="Contact" style="padding-top: 10%"
                        class="mutedDark "></Label> 
                    <Label col="0" colSpan="2" row="1" [text]="profile?.contact" class="mutedDark Roboto"></Label>
                </GridLayout>
                <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
                    class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
                    [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
                    <Image col="0" src="~/assets/images/house.png" class="b-r-100" stretch="aspectFit"
                        [marginTop]="iconSize/8" [marginBottom]="iconSize/8" [width]="iconSize" [height]="iconSize">
                    </Image> 
                    <Label col="1" [marginLeft]="pageSide" text="Address" style="padding-top: 10%"
                        class="mutedDark "></Label>
                    <Label col="0" colSpan="2" row="1" [text]="profile?.adress" class="mutedDark Roboto"></Label>
                </GridLayout>
                <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
                    class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
                    [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
                    <ns-icon col="0" icon="&#xf19c;" class="fas primarybg"></ns-icon>
                    <Label col="1" text="Institute" style="padding-top: 10%" class="mutedDark "></Label>
                    <Label col="0" colSpan="2" row="1" [text]="profile?.university" class="mutedDark Roboto"></Label>
                </GridLayout>
                <Label text="Logout" (tap)="logout()" padding="20" color="red" textWrap="true"></Label>
            </StackLayout>
            <Label row="2" text="Registered Courses" horizontalAlignment="center" class="font20 mutedDark"
                textWrap="true"></Label>
            <GridLayout row="3" class="bgWhite boxBorder">
                <GridLayout rows="*" columns="">
                        <ns-profiledata [userType]="userType"></ns-profiledata>
 
                </GridLayout>

            </GridLayout>
        </GridLayout>
      </GridLayout>
</ScrollView> 